---
title: "Mi Página de Inicio"
layout: "../layouts/Layout.astro"

import Badge from '../components/Badge.astro';
import Layout from '../layouts/Layout.astro';
import ListButtons from "../components/ListButtons.astro"
import Experience from '../components/Experience.astro';
import SectionContainer from "../components/SectionContainer.astro"
import ExperienciaLaborar from '../components/Icons/ExperienciaLaborar.astro';
import CodeIcon from '../components/Icons/CodeIcon.astro';
import Projects from '../components/Projects.astro';
import Contact from '../components/Contact.astro';

---

<Layout>
	<SectionContainer class="py-44 pb-30">
		<main>
			<img 
			class="rounded-full mb-5 w-16 h-16"
			src="./projects/Foto.jpg" alt="Ricardo Photo">
			<h1 class="text-white text-2xl xl:text-5xl font-bold flex gap-x-4 pb-10 flex-row">Hey, I'm Ricardo 
				<a 
					href="https://www.linkedin.com/in/ricardo-luna-hernandez-4b3b86332/" 
					class="flex justify-center items-center"
					target="_blank"
					rel="noopener"
					>
					<Badge>Avaliable for hire</Badge>
				</a>
			</h1>
	
			<h1 class="text-xl xl:text-2xl text-wrap">
				<span>+4 years of experience.</span>
				<span class="text-yellow-200/90"> Web Developer and Mobile App Developer.</span>
				<span class="text-red-200/90">From Veracruz, Mexico 🇲🇽.</span> 
				<span class="opacity-70">Specialized in frontend and AWS.</span>
			</h1>
			<ListButtons />
		</main>
	</SectionContainer>

	<SectionContainer id="experience">
		<h2 class="text-2xl font-semibold flex items-center gap-x-2">
			<ExperienciaLaborar class="size-6" />			
			Experiencia Laborar
		</h2>
		<Experience />
	</SectionContainer>

	<SectionContainer id="projects" class="mt-10">
		<h2 class="text-2xl font-semibold flex items-center gap-x-2 mb-10">
			<CodeIcon class="size-6" />			
			Projects
		</h2>
		<Projects />
	</SectionContainer>
</Layout>
