<footer class=" w-full rounded-lg shadow m-4 ">
    <div class="w-full mx-auto max-w-screen-xl p-4 xl:flex xl:items-center xl:justify-between">
      <span class="text-sm text-gray-500 sm:text-center">© 2025 <a href="https://www.linkedin.com/in/ricardo-luna-hernandez-4b3b86332/" class="hover:underline">RicardoDev™</a>
    </span>
    <ul class=" ml-10 flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 sm:mt-0">
    </ul>
    </div>
</footer>
