---
import Github from "./Icons/Github.astro"
import LinkedInIcon from "./Icons/LinkedIn.astro"
import GmailIcon from "./Icons/Gmail.astro"
---

<nav class="flex gap-x-4 mt-2">
    <a target="_blank" rel="noopener" class="hover:scale-110 hover:bg-white/10 transition rounded-full border border-white/10 flex justify-center items-center gap-x-2 py-2 px-4 bg-white/5" href="https://www.linkedin.com/in/ricardo-luna-hernandez-4b3b86332/">
        <LinkedInIcon class="size-6" />    
        LinkedIn
    </a>
    <a target="_blank" rel="noopener" class="hover:scale-110 hover:bg-white/10 transition rounded-full border border-white/10 flex justify-center items-center gap-x-2 py-2 px-4 bg-white/5" href="https://github.com/RicardoDev26">
        <Github  class="size-6" />    
        GitHub
    </a>
    <!-- <a target="_blank" rel="noopener" class="hover:scale-110 hover:bg-white/10 transition rounded-full border border-white/10 flex justify-center items-center gap-x-2 py-2 px-4 bg-white/5" href="mailto:Ricardodev26@gmail.com">
        <GmailIcon  class="size-6" />    
        RicardoDev26@gmail.com
    </a> -->
</nav>      